<div id="question" class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><b><%= t "questions.suggest_question" %></b></h2>
    <%= form_for [current_user, @question] do |f| %>
      <div class="row">
        <%= f.label :subject %>
        <%= f.select :subject_id,
          options_for_select(@subjects.collect{|subject| [subject.name, subject.id]},
          @question.subject.id), {}, { class: "form-control" } %>
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>
        <%= f.label :question_type %>
        <%= f.select :question_type,
          options_for_select(Settings.question.types, @question.question_type),
          {}, {class: "form-control question-type"} %>
      </div>
      <% if @question.text? %>
        <%= f.fields_for :options do |answer| %>
          <div class="fields row">
            <p>
              <%= answer.hidden_field :_destroy %>
              <%= answer.label :content %>
              <div class="col-md-8">
                <%= answer.text_field :content, class: "form-control" %>
              </div>
            </p>
          </div>
        <% end %>
      <% else %>
        <%= f.fields_for :options do |option| %>
          <%= render partial: "option_fields", locals: {f: option} %>
        <% end %>
      <% end %>
      <div class="option-form row">
        <button class="add_fields btn btn-primary" name="options">
          <%= t "questions.add_option" %></button>
      </div>
      <div class="row">
        <%= f.submit t("questions.suggest"), class: "btn btn-primary" %>
      </div>
      <%= new_fields_template f, :options %>
    <% end %>
  </div>
</div>
