<div id="question" class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><b><%= t "questions.suggest_question" %></b></h2>
    <%= form_for @question, url: user_questions_path do |f| %>
      <div class="row">
        <%= f.label :subject %>
        <%= f.select :subject_id,
          options_for_select(@subjects.collect{|subject| [subject.name, subject.id]},
          params[:subject_id]), {}, { class: "form-control" } %>
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>
        <%= f.label :question_type %>
        <%= f.select :question_type,
          options_for_select(Question.question_types, params[:question_type]),
          {}, {class: "form-control question-type"} %>
      </div>
      <div class="option-form row">
        <button class="add_fields btn btn-primary" name="options">
          <%= t "questions.add_option" %></button>
      </div>
      <div class="row">
        <%= f.submit t("questions.suggest"), class: "btn btn-primary" %>
      </div>
      <%= new_fields_template f, :options %>
    <% end %>
  </div>
</div>
