.col-md-8.col-md-offset-2
  %h2
    %b= t "questions.question"
  %table.table
    %tbody
      %tr
        %td{"width"=>"40%"}
          %b= t "questions.content"
        %td= @question.content
      %tr
        %td
          %b= t "questions.options"
        %td
          %table
            %tbody
              - unless @question.text?
                - @question.options.each do |option|
                  %tr
                    %td
                      = option.content
                    %td{"width"=>"15%"}
                      - if option.is_correct
                        %span.label.label-primary= t "questions.correct"
                      - elsif
                        %span.label.label-danger= t "questions.wrong"
              - else
                %tr
                  - @question.options.each do |option|
                    %td= option.content
      %tr
        %td
          %b= t "questions.subject"
        %td= @question.subject.name
      %tr
        %td
          %b= t "questions.type"
        %td= @question.question_type
      %tr
        %td
          %b= t "questions.state"
        %td
          .state-label.label.label-warning
            = @question.status
  - if can? :update, @question
    = link_to t("edit"), [:edit, current_user, @question],
      class: "btn btn-primary glyphicon glyphicon-pencil btn-width"
    = link_to t("delete"), [current_user, @question], method: :delete,
      class: "btn btn-danger glyphicon glyphicon-trash btn-width"

