<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <h2>
      <b><%= t "suggested_question" %></b>
      <%= link_to new_admin_question_path, class: "pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t "questions.new" %>
      <% end %>
    </h2>
    <%= render partial: "filter_question_options" %>
    <table class="table">
      <thead>
        <tr>
          <th class="number_id"><%= t "questions.stt" %></th>
          <th class="content"><%= t "questions.question" %></th>
          <th class="subject"><%= t "questions.subject" %></th>
          <th class="type"><%= t "questions.type" %></th>
          <th class="state"><%= t "questions.state" %></th>
          <th class="accept"></th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each_with_index do |question, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to question.content, [:admin, question] %></td>
            <td><%= question.subject.name %></td>
            <td><%= question.question_type %></td>
            <td>
              <% if question.waitting? %>
                <span class="label label-warning"><%= question.status %></span>
              <% else %>
                <span class="label label-success"><%= question.status %></span>
              <% end %>
            </td>
            <td>
              <% if question.waitting? %>
                <%= link_to t("questions.accepted"), admin_question_path(question,
                  question: {status: "accepted"}), method: :patch,
                  class: "btn btn-primary" %>
              <% end %>
            </td>
            <td>
              <%= link_to t("delete"), [:admin, question], method: :delete,
              class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @questions %>
  </div>
</div>
