<li>
  <%= f.object.question.content %>
</li>
<br>
  <% if f.object.question.single? %>
    <% f.object.question.options.each do |answer| %>
      <% is_checked = f.object.answer.include?(answer.id.to_s) %>
      <%= f.radio_button :answer, answer.id,
        {checked: is_checked, multiple: true, disabled: true } %>
      <% if is_checked && !answer.is_correct? %>
        <del><%= answer.content %></del><br/>
      <% else %>
        <%= answer.content %></br>
      <% end %>
  <% end %>
  <% elsif f.object.question.multiple? %>
    <% f.object.question.options.each do |answer| %>
      <% is_checked = f.object.answer.include?(answer.id.to_s) %>
      <%= f.check_box :answer,
        {checked: is_checked, multiple: true, disabled: true},
          answer.id, false %>
      <% if is_checked && !answer.is_correct? %>
        <del><%= answer.content %></del><br/>
      <% else %>
        <%= answer.content %></br>
      <% end %>
  <% end %>
  <% elsif f.object.question.text? %>
    <%= f.text_area :answer, disabled: true, class: "form-control",
      size: "10x4", value: f.object.answer,
      placeholder: I18n.t("exams.enterAnswer") %><br/>
  <% end %>
<br>
