<div class="col-md-10 col-md-offset-1">
  <div class="form-exam">
    <%= form_for @exam, html: {class: "form-inline"} do |f| %>
      <%= f.collection_select :subject_id, @subjects, :id, :name, {},
        class: "form-control" %>
      <%= f.submit t("exams.create") , class: "btn btn-primary" %>
    <% end %>
  </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th><%= t "exams.created_at" %></th>
        <th><%= t "exams.subject" %></th>
        <th><%= t "exams.status" %></th>
        <th><%= t "exams.duration" %></th>
        <th><%= t "exams.num_ques" %></th>
        <th><%= t "exams.spent_time" %></th>
        <th><%= t "exams.score" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exams.each do |exam| %>
        <tr>
          <td><%= I18n.l exam.created_at, format: :default %></td>
          <td><%= exam.subject.name %></td>
          <td><%= render partial: "status", locals: {exam: exam} %></td>
          <td><%= exam.time_per_exam %></td>
          <td><%= exam.number_question %></td>
          <td><%= exam.spent_time %></td>
          <td><%= render partial: "score", locals: {exam: exam} %></td>
          <td><%= render partial: "continue", locals: {exam: exam} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= paginate @exams %></div>
</div>
