<div class="col-md-8 col-md-offset-1">
  <h1 class="text-center" ><%= @exam.subject.name %></h1>
  <hr>
  <%= render (@exam.testing? || @exam.saved?) ? "exam" : "exam_result" %>
</div>
<div class="col-md-2">
  <span id="cdtime" data-duration="<%= @exam.time_remaining %>"
    data-redirect="<%= url_for controller: "exams", action: "index" %>"
    data-msgout='<%= t "exams.timeout" %>'></span>
</div>
